body {
    margin: 0px;
    font-size: 16px;
    font-size: 1.125rem;
    color: #707070
}

img {
    max-width: 100%;
}

h1{
    font-size: 3rem;
    color: #312614;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

ul {
    font-size: 1rem;
}

.accent {
    color: #b7832f    
}

.test-div {
    background-color: green;
    height: 90px;
    width: 90px;
    border: 5px solid hotpink;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    border: .5px solid magenta;
}

.columns {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    align-items: stretch;
}

.col {
    /* border: .1px solid blue; */
    padding: 0.25rem 0.75rem;
}

.width50 {
    width: 45%;
}

.width25 {
    width: 20%;
}

.width75 {
    width: 70%;
}

.sidebar {
    background-color: #312614;
    color: white;
}

.center {
    margin: 0 auto;
}